*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-bg-main: hsl(0, 0%, 0%);
    --clr-bg-light: hsl(0, 0%, 7%);
    --clr-bg-lighter: hsl(0, 0%, 12%);

    --clr-text-main: hsl(0, 0%, 100%);
    --clr-text-muted: hsl(0, 0%, 50%);
    --clr-text-link: hsl(220, 100%, 56%);
    --clr-primary: hsl(20, 100%, 50%);

    --font-family: "Montserrat", sans-serif;
    --font-h1: normal 700 4rem/1 var(--font-family);
    --font-body: normal 400 1rem/1.5 var(--font-family);
    --font-button: normal 500 1rem/1 var(--font-family);
}

html, body {
    height: 100%;
}

body {
    padding: 0.75rem;
    background-color: var(--clr-bg-main);
    color: var(--clr-text-main);
    font: var(--font-body);
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font: var(--font-h1);
}

button, input {
    color: var(--clr-text-main);
    border: none;
    border-radius: 4px;
    padding: 1rem 2rem;
}

button {
    cursor: pointer;
    font: var(--font-button);
    background-color: var(--clr-primary);
}

input {
    padding: 1rem 1rem;
    font: var(--font-body);
    background-color: var(--clr-bg-lighter);
}

input::placeholder {
    color: var(--clr-text-muted);
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
    border: 2px solid var(--clr-primary);
    border-radius: 50%;
    cursor: pointer;
}

input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: var(--clr-primary);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    background-image: url("../assets/icons/checkmark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.root {
    padding-top: 5rem;
    height: fit-content;
    width: min(45rem, 100vw);
}

.container {
    padding: 1.5rem;
    background-color: var(--clr-bg-light);
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

header {
    margin-bottom: 2rem;
}

#task-form {
    display: flex;
    gap: 1rem;
}

#task-input {
    flex: 1;
}

#search-input {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

#delete-all-btn {
    width: 100%;
    margin-bottom: 1.5rem;
}

#message {
    text-align: center;
    color: var(--clr-text-muted);
}

#tasks-list {
    list-style: none;
}

#tasks-list li {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    background-color: var(--clr-bg-lighter);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#tasks-list li.done p {
    text-decoration: line-through;
}
    
#tasks-list li:not(:last-child) {
    margin-bottom: 1rem;
}

#tasks-list li p {
    margin-left: 0.5rem;
    flex: 1;
}

#tasks-list li button {
    padding: 0.5rem 0.5rem;
}


footer {
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    text-align: center;
}

footer a {
    font-weight: 500;
    color: var(--clr-text-link);
    text-decoration: underline;
}

footer a:hover {
    color: var(--clr-text-main);
}

@media (max-width: 600px) {
    :root {
        --font-h1: normal 700 3rem/1 var(--font-family);
    }

    .container {
        padding: 1rem;
    }

    button, input {
        padding: 0.75rem 1rem;
    }

    
    #task-form {
        flex-direction: column;
    }

    #tasks-list li {
        padding: 0.75rem 1rem;
        border-radius: 8px;
        background-color: var(--clr-bg-lighter);
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    #tasks-list li p {
        margin: 0;
        flex: 1;
    }
}